*{
 box-sizing:border-box;
 font-family:"Segoe UI",Arial,sans-serif;
}

body{
 margin:0;
 min-height:100vh;
 color:white;
 background:
 linear-gradient(135deg,#05070f,#101827);

 padding:20px;
}

.container{
 max-width:1000px;
 margin:auto;
}


/* Header */

h1{
 font-size:38px;
 letter-spacing:1px;
 margin-bottom:20px;
}


/* Panels */

.panel{
 background:rgba(255,255,255,0.07);

 border:1px solid rgba(255,255,255,0.12);

 border-radius:22px;

 padding:22px;

 margin-bottom:20px;

 backdrop-filter:blur(12px);
}


/* Stocks */

.stock{

 background:rgba(255,255,255,0.06);

 border:1px solid rgba(255,255,255,0.1);

 border-radius:18px;

 padding:18px;

 margin-bottom:15px;

 transition:.2s;
}


.stock:hover{
 background:rgba(255,255,255,0.1);
 transform:translateY(-2px);
}


.stock b{
 font-size:22px;
}


/* Buttons */

button{

 border:none;

 border-radius:12px;

 padding:11px 18px;

 margin:5px;

 cursor:pointer;

 color:white;

 background:#1677ff;

 transition:.2s;
}


button:hover{
 background:#2990ff;
}


button:active{
 transform:scale(.96);
}


/* Inputs */

input{

 width:100%;

 padding:14px;

 margin:8px 0;

 border-radius:12px;

 border:1px solid rgba(255,255,255,.15);

 outline:none;

 background:#0b1220;

 color:white;

}


/* Charts */

.chart-box{

 background:#080d18;

 border-radius:16px;

 padding:12px;

 margin-top:15px;

}


/* Ticker */

.ticker{

 overflow:hidden;

 background:#0b1220;

 border-radius:15px;

 border:1px solid rgba(255,255,255,.1);

 padding:12px;

 margin-bottom:20px;

}


.ticker-track{

 display:flex;

 gap:50px;

 width:max-content;

 animation:tickerMove 20s linear infinite;

}


.ticker span{
 white-space:nowrap;
}


@keyframes tickerMove{

 from{
  transform:translateX(100vw);
 }

 to{
  transform:translateX(-100%);
 }

}


/* mobile */

@media(max-width:600px){

 body{
  padding:12px;
 }


 h1{
  font-size:28px;
 }


 .panel{
  padding:16px;
 }


 .stock{
  padding:14px;
 }


 .stock button{
  width:100%;
  margin-top:8px;
 }


 canvas{
  max-height:220px;
 }

}
