*{
 box-sizing:border-box;
 font-family:"Segoe UI",Arial,sans-serif;
}

body{
 margin:0;
 min-height:100vh;
 color:white;
 background:
 linear-gradient(135deg,#05070f,#111827);

 padding:20px;
}

.container{
 max-width:1000px;
 margin:auto;
}

h1{
 font-size:38px;
 letter-spacing:1px;
 margin-bottom:20px;
}


/* panels */

.panel{
 background:rgba(255,255,255,0.07);
 border:1px solid rgba(255,255,255,0.12);
 border-radius:22px;
 padding:22px;
 margin-bottom:20px;
 backdrop-filter:blur(12px);
}


/* STOCK TICKER */

.ticker{
 width:100%;
 overflow:hidden;

 background:#080f1d;

 border:1px solid rgba(0,255,255,.25);

 border-radius:16px;

 padding:14px 0;

 margin-bottom:20px;
}


.ticker-track{

 display:flex;

 gap:60px;

 width:max-content;

 animation:tickerMove 20s linear infinite;

}


.ticker span{

 white-space:nowrap;

 font-weight:600;

 color:#dffcff;

}


@keyframes tickerMove{

 from{
  transform:translateX(100vw);
 }

 to{
  transform:translateX(-100%);
 }

}


/* stocks */

.stock{

 background:rgba(255,255,255,.06);

 border:1px solid rgba(255,255,255,.12);

 border-radius:18px;

 padding:18px;

 margin-bottom:15px;

}


.stock b{
 font-size:22px;
}


/* BUTTONS */

button{

 border:none;

 border-radius:12px;

 padding:12px 20px;

 margin:5px;

 cursor:pointer;

 color:#ffffff;

 background:#1677ff;

 font-weight:700;

 font-size:15px;

 transition:.2s;

}


button:hover{

 background:#2b8cff;

 transform:translateY(-2px);

}


button:active{

 transform:scale(.96);

}


/* BUY / SELL colors */

button[onclick*="buyStock"]{

 background:#00a86b;

}


button[onclick*="sellStock"]{

 background:#e63946;

}


/* inputs */

input{

 width:100%;

 padding:14px;

 margin:8px 0;

 border-radius:12px;

 border:1px solid rgba(255,255,255,.15);

 outline:none;

 background:#0b1220;

 color:white;

}


/* charts */

.chart-box{

 background:#080d18;

 border-radius:16px;

 padding:12px;

 margin-top:15px;

}


canvas{

 width:100%!important;

 max-height:240px;

}


/* mobile */

@media(max-width:600px){

 body{
  padding:12px;
 }


 h1{
  font-size:28px;
 }


 .panel{
  padding:16px;
 }


 .stock{
  padding:15px;
 }


 button{

  width:100%;

  margin:6px 0;

 }


 .ticker{

  border-radius:12px;

 }

}

.hidden {
  display: none;
}
